.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2{
    background-color: #fefefe;
    color: #0b2e13;
}
.vertical{
    vertical-align: top;
}
.margin{
    padding-left: 200pt;
    margin-left: 200pt;
}
.forButtons {
    margin:0 auto;
}
pre {
    background-color: #ffffff !important;
    border: 1px solid #898989;
    padding: 5px;
}